<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amgh.no.rabbitapp" >

    <uses-feature android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".main.RabbitApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.signin.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.signup.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".activities.signin.SignInActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".signin.SignInActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".activities.friend.EditFriendsActivity"
            android:label="@string/title_activity_edit_friends"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amgh.no.rabbitapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.recipient.RecipientActivity"
            android:label="@string/title_activity_recipient"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amgh.no.rabbitapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.sms.SmsActivity"
            android:label="@string/title_activity_sms"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amgh.no.rabbitapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.recipient.ViewImageActivity"
            android:label="@string/title_activity_view_image"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amgh.no.rabbitapp.activities.MainActivity" />
        </activity>
    </application>

</manifest>
